{{block "sign-in" .}}
<div
  class="max-w-fit mx-auto flex flex-col gap-4 card justify-center items-center"
>
  <h1 class="text-center text-2xl">Sign in</h1>
  <form class="grid gap-3">
    <label for="email">Email</label>
    <input id="email" name="email" type="email" autocomplete="email" required />
    <label for="password">Password</label>
    <input
      id="password"
      name="password"
      type="password"
      required
      autocomplete="current-password"
    />
    <button>Login</button>
    <a href="/signin">Register Here</a>
  </form>
</div>
{{end}}
